body
{
    background-size: cover;
    background-repeat: no-repeat;

}

#div1
{
    text-shadow: 2px 2px white;
}

table
{
    width:100%;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td
{
    padding: 5px;
    text-align: center;
}

table tr:nth-child(even)
{
    background-color: #9CA7FF;
}

table tr:nth-child(odd)
{
   background-color:#CABEED;
}

table th
{
    background-color: #7F25C4;
    color: white;
}