<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
    <title>Time Travelling Dragon Tracker 301.24.18</title>
</head>
<body background="{{background_img}}"><div id="div1">
{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="text" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
Hello, {{.}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
{{/username}}
    </div>
{{^edit_phase}}
{{#username}}
<br>

<form action="/create-dragon" method="post">
    <input type="text" name="name" placeholder="Dragon Name"/>
    <select name="color" style="display: inline;">
        <option value="red" selected>Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="gold">Gold</option>
        <option value="silver">Silver</option>
        <option value="bronze">Bronze</option>
        <option value="copper">Copper</option>
        <option value="mixture">Other</option>
    </select>
    <select name="type" style="display: inline;">
        <option value="Leviathan">Leviathan</option>
        <option value="Aquatic">Aquatic</option>
        <option value="Drake">Drake</option>
        <option value="Basilisk">Basilisk</option>
        <option value="Fae">Fae</option>
        <option value="Hydra">Hydra</option>
        <option value="Wyvern">Wyvern</option>
        <option value="Anthropomorph">Anthropomorph</option>
        <option value="Ouroboros">Ouroboros</option>
    </select>
    <input type="datetime-local" name="birthdate" value="{{now}}"/>
    <input type="number" name="age" placeholder="Estimated Age"/>
    <button type="submit">Create Dragon</button>
</form>
{{/username}}
<br>
<br>

<table>
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Type</th>
        <th>Age</th>

    </tr>
    {{#dragons}}
    <tr>
        <td>{{name}}</td><td>{{color}}</td><td>{{type}}</td><td>{{age}}</td>
        {{#isEditable}}
        {{^edit_phase}}
        <td>
            <form action="/edit-dragon" method="post">
                <input type="hidden" name="id" value="{{id}}"/>
                <button type="submit" style="display: inline;">Edit</button>
            </form>
        </td>
        <td>
            <form action="/delete-dragon" method="post">
                <input type="hidden" name="id" value="{{id}}"/>
                <button type="submit" style="display: inline;">Delete</button>
            </form>
        </td>
        {{/edit_phase}}
        {{/isEditable}}
    </tr>
    {{/dragons}}
</table>
{{/edit_phase}}
{{#edit_phase}}
<br>
<br>
{{#e_dragon}}
<br>
<br>

<form action="/update-dragon" method="post">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" name="name" value="{{name}}/">
    <select name="color" style="display: inline;" selected="{{color}}">
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="gold">Gold</option>
        <option value="silver">Silver</option>
        <option value="bronze">Bronze</option>
        <option value="copper">Copper</option>
        <option value="mixture">Other</option>
    </select>
    <select name="type" style="display: inline;" selected="{{type}}">
        <option value="Leviathan">Leviathan</option>
        <option value="Aquatic">Aquatic</option>
        <option value="Drake">Drake</option>
        <option value="Basilisk">Basilisk</option>
        <option value="Fae">Fae</option>
        <option value="Hydra">Hydra</option>
        <option value="Wyvern">Wyvern</option>
        <option value="Anthropomorph">Anthropomorph</option>
        <option value="Ouroboros">Ouroboros</option>
    </select>
    <input type="datetime-local" name="birthdate" value="{{birthdate}}"/>
    <input type="number" name="age" value="{{age}}"/>
    <button type="submit">Update Dragon</button>
</form>
{{/e_dragon}}
{{/edit_phase}}



</body>
</html>