<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Travelling Dragon Tracker 301.24.18</title>
</head>
<body>
{{^username}}
<form action="/login" method="post">
    <input type="text" name="username" placeholder="Username"/>
    <input type="text" name="password" placeholder="Password"/>
    <button type="submit">Login</button>
</form>
{{/username}}

{{#username}}
Hello, {{.}}
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<br>

<form action="/create-dragon" method="post">
    <input type="text" name="dragon_name" placeholder="Dragon Name"/>
    <select name="color" style="display: inline;">
        <option value="red" selected>Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
        <option value="white">White</option>
        <option value="black">Black</option>
        <option value="gold">Gold</option>
        <option value="silver">Silver</option>
        <option value="bronze">Bronze</option>
        <option value="copper">Copper</option>
        <option value="mixture">Other</option>
    </select>
    <select name="type" style="display: inline;">
        <option value="leviathan" selected>leviathan</option>
        <option value="aquatic">aquatic</option>
        <option value="drake">drake</option>
        <option value="basilisk">basilisk</option>
        <option value="fae">fae</option>
        <option value="hydra">hydra</option>
        <option value="wyvern">wyvern</option>
        <option value="anthropomorph">anthropomorph</option>
        <option value="ouroboros">Ouroboros</option>
    </select>
    <input type="datetime-local" name="birthdate" value="{{now}}"/>
    <input type="number" name="age" placeholder="120"/>
    <button type="submit">Create Event</button>
</form>

{{/username}}

<ol>
    {{#dragons}}
    <li>
        {{description}}{{time}}
        {{#isOwner}}
        <form action="/edit-dragon" method="post" style="display: inline;">
            <button type="submit" style="display: inline;">Edit</button>
            </form>
        <form action="/delete-dragon" method="post" style="display: inline;">
            <button type="submit" style="display: inline;">Delete</button>
        </form>
        {{/isOwner}}
    </li>
    {{/dragons}}
</ol>

</body>
</html>